//颜色
$main-color: #02C497; //主色
$assist-color:#FFA508; //辅助色
$danger-color:#E74A4A; //警告色
$forbidden-color:#EBEBEB; //禁用色
$title-color:#363838; //标题
$text-color:#525151; //正文
$asText-color:#B7B7B7; //次文本
$tips-color:#E0E0E0; //提示文本
$halving-line:#EEEEEE; //分割线
$border-color:#DBDBDB; //边框线
$bg-color:#F8F8F8; //背景色

// 字体
$fz20:20px;
$fz18:18px;
$fz16:16px;
$fz14:14px;
$fz12:12px;