@import './base.scss';
@import './mixin';
//----------------- form表单
.yq-form{
    padding: 2%;
    .yq-form-item{
        position: relative;
        p{
            font-size: $fz12;
            color: $danger-color;
            text-align: left;
            padding-left: 10px;
            line-height: $fz18;
            position: absolute;
            bottom: -18px;
        }
    }
    .item-box{
        border-bottom: 1px solid $border-color;
        line-height: 38px;
        display: flex;
        padding-left: 5px;
        margin-bottom: 13px;
        label{
            font-size: $fz14;
            color: $text-color;
            padding-right: 5px;
            flex: 0 0 80px;
            text-align: left;
        }
        .yq-form-input{
            width: 100%;
        }
    }
    .noborBotton{
        .item-box{
            border:none;
        }
    }

}
//-----------------  alert
.yq-alert{
    width: 100%;
    display: flex;
    justify-content: center;
    .message-alert{
        position: absolute;
        top:5%;
        padding: 10px;
    
        display: flex;
        align-items: center;
        z-index: 10002;
        background: #ccc;
        opacity: 0;
        @include border-radius(6px);
        .alert-icon{
            width: 30px;
            height: 30px;
            flex: 0 0 30px;
            color: $white-color;
            line-height: 30px;
            text-align: center;
            
        }
        .text{
            margin-left: 5px;
            color: $white-color;
        }

    }
    .yq-alert-success{
        background: $main-color;
    }
    .yq-alert-warning{
        background: $assist-color;
    }
    .yq-alert-danger{
        background: $danger-color;
    }
}